.git
.github
node_modules
frontend/node_modules
frontend/dist
backend/.venv
backend/__pycache__
backend/.pytest_cache
backend/.env
*.log
.env
downloads
tmp

.venv
tests-cache
**/__pycache__
**/.pytest_cache
**/node_modules
**/.env
**/.env.*
